In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By 
import sqlite3
from datetime import datetime

nasdaq = []

# Create a SQL connection to our SQLite database
con = sqlite3.connect("stock.sqlite")
cur = con.cursor()

op = webdriver.ChromeOptions()
#op.add_argument('headless') 
driver = webdriver.Chrome(options=op) 
driver.get('https://www.nasdaq.com/market-activity/quotes/nasdaq-ndx-index')
elements = driver.find_elements(By.XPATH, '//th[@class="nasdaq-ndx-index__cell nasdaq-ndx-index__cell--heading"]')

for element in elements:
    nasdaq.append(element.text)
print(nasdaq)

['ABNB', 'ADBE', 'ADI', 'ADSK', 'AEP', 'ALGN', 'AMAT', 'AMGN', 'ANSS', 'ATVI', 'AVGO', 'AZN', 'BIIB', 'BKNG', 'BKR', 'CEG', 'CHTR', 'COST', 'CPRT', 'CRWD', 'CSCO', 'CSGP', 'CSX', 'CTAS', 'CTSH', 'DLTR', 'DXCM', 'EA', 'EBAY', 'ENPH', 'EXC', 'FANG', 'FAST', 'FISV', 'FTNT', 'GOOG', 'GOOGL', 'HON', 'IDXX', 'ILMN', 'ISRG', 'JD', 'KHC', 'KLAC', 'LCID', 'LRCX', 'LULU', 'MAR', 'MCHP', 'MDLZ', 'MELI', 'MNST', 'MSFT', 'MU', 'ODFL', 'ORLY', 'PANW', 'PAYX', 'PCAR', 'PDD', 'PEP', 'QCOM', 'REGN', 'RIVN', 'ROST', 'SBUX', 'SGEN', 'SIRI', 'SNPS', 'TMUS', 'VRSK', 'VRTX', 'WDAY', 'XEL', 'ZM', 'ZS']

In [52]:
import yfinance as yf
import pandas as pd
import sqlite3

conn = sqlite3.connect("stock.sqlite")
for stock in nasdaq:
    datahr = yf.download(tickers=stock,period="2y",interval="1h",progress=False)
    datad = yf.download(tickers=stock,period='10y',interval="1d",progress=False)
    datamo = yf.download(tickers=stock,period='max',interval="1mo",progress=False)

    datahr['Ticker'] = stock

    datad.index.names = ['Datetime']

    datad['Ticker'] = stock

    datamo.index.names = ['Datetime']

    datamo['Ticker'] = stock

    datahr.to_sql('stock_table_hr',con=conn,if_exists='append',index=True)
    datad.to_sql('stock_table_d',con=conn,if_exists='append',index=True)
    datamo.to_sql('stock_table_mo',con=conn,if_exists='append',index=True)

1 Failed download:
- ADI: Exception('Lost data during merge despite all attempts to align data (see above)')

1 Failed download:
- ADP: Exception('Lost data during merge despite all attempts to align data (see above)')

1 Failed download:
- AEP: Exception('Lost data during merge despite all attempts to align data (see above)')

1 Failed download:
- BKR: Exception('Lost data during merge despite all attempts to align data (see above)')

1 Failed download:
- CSX: Exception('Lost data during merge despite all attempts to align data (see above)')

1 Failed download:
- EXC: Exception('Lost data during merge despite all attempts to align data (see above)')

1 Failed download:
- HON: Exception('Lost data during merge despite all attempts to align data (see above)')

1 Failed download:
- KHC: Exception('Lost data during merge despite all attempts to align data (see above)')

1 Failed download:
- KLAC: Exception('Lost data during merge despite all attempts to align data (see above)')

1 Failed download:
- TXN: Exception('Lost data during merge despite all attempts to align data (see above)')

1 Failed download:
- XEL: Exception('Lost data during merge despite all attempts to align data (see above)')

In [47]:
datad = yf.download(tickers='AAPL',period="2y",interval="1d",progress=False)
datad.index.names = ['Datetime']
datad

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-02-16,135.490005,136.009995,132.789993,133.190002,131.605835,80576300
2021-02-17,131.250000,132.220001,129.470001,130.839996,129.283798,97918500
2021-02-18,129.199997,130.000000,127.410004,129.710007,128.167236,96856700
2021-02-19,130.240005,130.710007,128.800003,129.869995,128.325333,87668800
2021-02-22,128.009995,129.720001,125.599998,126.000000,124.501358,103916400
...,...,...,...,...,...,...
2023-02-07,150.639999,155.229996,150.639999,154.649994,154.414230,83322600
2023-02-08,153.880005,154.580002,151.169998,151.919998,151.688400,64120100
2023-02-09,153.779999,154.330002,150.419998,150.869995,150.639999,56007100
2023-02-10,149.460007,151.339996,149.220001,151.009995,151.009995,57409100
2023-02-13,150.951996,153.690002,150.919998,153.389999,153.389999,21700329

In [2]:
from selenium import webdriver
from selenium.webdriver.common.by import By 
import sqlite3
from datetime import datetime
import pandas as pd

all_link = []
op = webdriver.ChromeOptions()
op.add_argument('headless') 
driver = webdriver.Chrome(options=op)
df2 = pd.DataFrame()
print(len(nasdaq))
for j in nasdaq:
    InsSec = []
    driver.get("https://finance.yahoo.com/quote/%s/profile?p=%s" %(j,j))
    numlink = driver.find_elements(By.XPATH, '//span[@class="Fw(600)"]')
    for i in numlink[:2]:
        InsSec.append(i.text)
    df1 = pd.DataFrame({'Ticker': [j], 'Industry Group': [InsSec[0]], 'Sector': [InsSec[1]], 'Index': ['NASDAQ100']})
    df2 = pd.concat([df2,df1],ignore_index=True)
    print('-------')
print(df2)

76
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
   Ticker     Industry Group                        Sector      Index
0    ABNB  Consumer Cyclical               Travel Services  NASDAQ100
1    ADBE         Technology       Software—Infrastructure  NASDAQ100
2     ADI         Technology                Semiconductors  NASDAQ100
3    ADSK         Technology          Software—Application  NASDAQ100
4     AEP          Utilities  Utilities—Regulated Electric  NASDAQ100
..    ...                ...                           ...        ...
71   VRTX         Healthcare                 Biotechnology  NASDAQ100
72   WDAY         Technology          Software—Application  NASDAQ100
73    XEL          Utilities  Utilities—Regulated Electric  NASDAQ100
74     ZM         Technology          Software—Application  NASDAQ100
75     ZS         Technology       Software—Infrastructure  NASDAQ100

[76 rows x 4 columns]

In [5]:
import sqlite3

conn = sqlite3.connect("stock.sqlite")
df2.to_sql('stock_info',con=conn,if_exists='append',index=True)

76

In [35]:
from selenium import webdriver
from selenium.webdriver.common.by import By 
import sqlite3
from datetime import datetime

cryp = []

# Create a SQL connection to our SQLite database
con = sqlite3.connect("stock.sqlite")
cur = con.cursor()

op = webdriver.ChromeOptions()
#op.add_argument('headless') 
driver = webdriver.Chrome(options=op) 
driver.get('https://finance.yahoo.com/crypto/?offset=0&count=100')
elements = driver.find_elements(By.XPATH, '//a[@class="Fw(600) C($linkColor)"]')

for element in elements:
    cryp.append(element.text)
print(cryp)

['BTC-USD', 'ETH-USD', 'USDT-USD', 'BNB-USD', 'USDC-USD', 'XRP-USD', 'BUSD-USD', 'ADA-USD', 'DOGE-USD', 'MATIC-USD', 'HEX-USD', 'SOL-USD', 'DOT-USD', 'SHIB-USD', 'LTC-USD', 'WTRX-USD', 'TRX-USD', 'AVAX-USD', 'STETH-USD', 'DAI-USD', 'UNI7083-USD', 'WBTC-USD', 'ATOM-USD', 'LINK-USD', 'LEO-USD', 'ETC-USD', 'XMR-USD', 'TON11419-USD', 'OKB-USD', 'BCH-USD', 'APT21794-USD', 'LDO-USD', 'HBAR-USD', 'XLM-USD', 'FIL-USD', 'NEAR-USD', 'APE18876-USD', 'CRO-USD', 'ALGO-USD', 'VET-USD', 'QNT-USD', 'ICP-USD', 'GRT6719-USD', 'FTM-USD', 'MANA-USD', 'TMG-USD', 'BTCB-USD', 'BIT11221-USD', 'AAVE-USD', 'EOS-USD', 'WBNB-USD', 'AXS-USD', 'EGLD-USD', 'FLOW-USD', 'THETA-USD', 'SAND-USD', 'FRAX-USD', 'LUNC-USD', 'XTZ-USD', 'TUSD-USD', 'IMX10603-USD', 'CHZ-USD', 'MINA-USD', 'HBTC-USD', 'USDP-USD', 'RPL-USD', 'HT-USD', 'KCS-USD', 'CRV-USD', 'BSV-USD', 'FXS-USD', 'DASH-USD', 'ZEC-USD', 'MKR-USD', 'USDD-USD', 'BTTOLD-USD', 'BTT-USD', 'CAKE-USD', 'XEC-USD', 'MIOTA-USD', 'TNC5524-USD', 'GMX11857-USD', 'SNX-USD', 'KLAY-USD', 'BGB-USD', 'NEO-USD', 'TWT-USD', 'GUSD-USD', 'OP-USD', 'RUNE-USD', 'LRC-USD', 'FTT-USD', 'AGIX-USD', 'PAXG-USD', 'OSMO-USD', 'XRD-USD', 'BABYDOGE-USD', 'GT-USD', 'ZIL-USD', 'CVX-USD']

In [36]:
import pandas as pd
import sqlite3
cf2 = pd.DataFrame()
for j in cryp:
    cf1 = pd.DataFrame({'Ticker': [j], 'Industry Group': ['Crypto'], 'Sector': ['Crypto'], 'Index': ['Crypto100']})
    cf2 = pd.concat([cf2,cf1],ignore_index=True)
print(cf2)

          Ticker Industry Group  Sector      Index
0        BTC-USD         Crypto  Crypto  Crypto100
1        ETH-USD         Crypto  Crypto  Crypto100
2       USDT-USD         Crypto  Crypto  Crypto100
3        BNB-USD         Crypto  Crypto  Crypto100
4       USDC-USD         Crypto  Crypto  Crypto100
..           ...            ...     ...        ...
95       XRD-USD         Crypto  Crypto  Crypto100
96  BABYDOGE-USD         Crypto  Crypto  Crypto100
97        GT-USD         Crypto  Crypto  Crypto100
98       ZIL-USD         Crypto  Crypto  Crypto100
99       CVX-USD         Crypto  Crypto  Crypto100

[100 rows x 4 columns]

In [37]:
import sqlite3

conn = sqlite3.connect("stock.sqlite")
cf2.to_sql('stock_info',con=conn,if_exists='append',index=True)

100

In [12]:
import yfinance as yf
import pandas as pd
import sqlite3

conn = sqlite3.connect("stock.sqlite")
for stock in cryp:
    # datahr = yf.download(tickers=stock,period="2y",interval="1h",progress=False)
    # datad = yf.download(tickers=stock,period='max',interval="1d",progress=False)
    datamo = yf.download(tickers=stock,period='max',interval="1mo",progress=False)

    # datahr['Ticker'] = stock

    # datad.index.names = ['Datetime']

    # datad['Ticker'] = stock

    datamo.index.names = ['Datetime']

    datamo['Ticker'] = stock

    # print(datad)
    # datahr.to_sql('stock_table_hr',con=conn,if_exists='append',index=True)
    # datad.to_sql('stock_table_d',con=conn,if_exists='append',index=True)
    datamo.to_sql('stock_table_mo',con=conn,if_exists='append',index=True)

In [14]:
from selenium import webdriver
from selenium.webdriver.common.by import By 
import sqlite3
from datetime import datetime

test = []
test2 = []
test3 = []
count = 0
revenue,YoYR = [],[]

# Create a SQL connection to our SQLite database
con = sqlite3.connect("stock.sqlite")
cur = con.cursor()

op = webdriver.ChromeOptions()
#op.add_argument('headless')
driver = webdriver.Chrome(options=op) 
driver.get('https://www.tradingview.com/symbols/NASDAQ-ABNB/financials-income-statement/')
header = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[1]')
raw1 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[2]')
raw2 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[3]')
raw3 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[4]')
raw4 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[5]')
raw5 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[6]')
raw6 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[7]')
raw7 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[8]')
raw8 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[9]')
raw9 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[10]')
raw10 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[11]')
raw11 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[12]')
raw12 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[13]')
raw13 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[14]')
raw14 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[15]')
raw15 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[16]')
raw16 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[17]')
raw17 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[18]')
raw18 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[19]')
raw19 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[20]')
raw20 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[21]')
raw21 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[22]')
raw22 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[23]')
raw23 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[24]')
raw24 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[25]')

Allelement = [raw1,raw2,raw3,raw4,raw5,raw6,raw7,raw8,raw9,raw10,
              raw11,raw12,raw13,raw14,raw15,raw16,raw17,raw18,raw19,raw20,
              raw21,raw22,raw23,raw24]

YoY = [''] * len(Allelement)
Oth = [''] * len(Allelement)
for element in header:
    test.append(element.text)
year = test[0].split('\n')[1:-1]
for e in Allelement:
    test2 = []
    for h in e:
        test2.append(h.text)
    test2 = test2[0].split('\n')
    if (e == raw1) or (e == raw3) or (e == raw5) or (e == raw7) or (e == raw14) or (e == raw18) or (e == raw19) or (e == raw22) or (e == raw23):
        for k in range(len(test2)-3):
            if k%2 == 0:
                a = test2[k+2]
                revenue.append(a[1:-1])
            else:
                YoYR.append(test2[k+2])
    else:
        for k in range(len(test2)-2):
            a = test2[k+1]
            revenue.append(a[1:-1])
            YoYR.append(None)

    YoY[count] = (YoYR)
    Oth[count] = (revenue)
    count += 1
    YoYR = []
    revenue = []

print(year)
print(YoY)

["Q1 '21", "Q2 '21", "Q3 '21", "Q4 '21", "Q1 '22", "Q2 '22", "Q3 '22"]
[['+5.36%', '+298.84%', '+66.68%', '+78.31%', '+70.13%', '+57.59%', '+28.92%'], [None, None, None, None, None, None, None], ['−20.76%', '+379.70%', '+52.24%', '+90.43%', '+104.32%', '+74.83%', '+29.21%'], [None, None, None, None, None, None, None], ['−2.91%', '+89.19%', '+92.88%', '+102.53%', '+98.56%', '+1002.21%', '+41.34%'], [None, None, None, None, None, None, None], ['−226.50%', '+91.09%', '+176.98%', '+101.81%', '+99.31%', '+772.31%', '+49.32%'], [None, None, None, None, None, None, None], [None, None, None, None, None, None, None], [None, None, None, None, None, None, None], [None, None, None, None, None, None, None], [None, None, None, None, None, None, None], [None, None, None, None, None, None, None], ['−244.16%', '+88.15%', '+280.20%', '+101.40%', '+98.40%', '+655.35%', '+45.62%'], [None, None, None, None, None, None, None], [None, None, None, None, None, None, None], [None, None, None, None, None, None, None], ['−239.12%', '+88.53%', '+262.53%', '+101.33%', '+98.48%', '+632.20%', '+41.58%'], ['−239.12%', '+88.53%', '+230.16%', '+101.23%', '+98.48%', '+597.04%', '+46.01%'], [None, None, None, None, None, None, None], [None, None, None, None, None, None, None], ['−1.75%', '+96.54%', '+87.90%', '+103.58%', '+108.23%', '+3285.58%', '+37.41%'], ['−2.91%', '+89.19%', '+92.88%', '+102.53%', '+98.56%', '+1002.21%', '+41.34%'], [None, None, None, None, None, None, None]]

In [34]:
a = range(len(Oth))
df2 = pd.DataFrame()
for i in range(len(year)):
    data = {'Total revenue':Oth[0][i],'YoY growth Total revenue':YoY[0][i],
        'Cost of goods sold':Oth[1][i],
        'Gross profit':Oth[2][i],'YoY growth Gross profit':YoY[2][i],
        'Operating expenses (excl. COGS)':Oth[3][i],
        'Operating income':Oth[4][i],'YoY growth Operating income' : YoY[4][i],
        'Non-operating income, total':Oth[5][i],
        'Pretax income':Oth[6][i],'YoY growth Pretax income':YoY[7][i],
        'Equity in earnings':Oth[7][i],'Taxes':Oth[8][i],
        'Non-controlling/minority interest':Oth[9][i],'After tax other income/expense':Oth[10][i],
        'Net income before discontinued operations':Oth[11][i],'Discontinued operations':Oth[12][i],
        'Net income':Oth[13][i],'YoY growth Net income':YoY[13][i],
        'Dilution adjustment':Oth[14][i],'Preferred dividends':Oth[15][i],'Diluted net income available to common stockholders':Oth[16][i],
        'Basic EPS':Oth[17][i],'YoY growth Basic EPS':YoY[17][i],'Diluted EPS':Oth[18][i],'Diluted EPS YoY growth':YoY[18][i],
        'Average basic shares outstanding':Oth[19][i],'Diluted shares outstanding':Oth[20][i],
        'EBITDA':Oth[21][i],'YoY growth EBITDA':YoY[21][i],'EBIT':Oth[22][i],'YoY growth EBIT': YoY[22][i],
        'Total operating expenses':Oth[23][i],'Quarterly':year[i]}
    df = pd.DataFrame(data,index=[i])
    df2 = pd.concat([df2,df],ignore_index=True)
print(df2)

  Total revenue YoY growth Total revenue Cost of goods sold Gross profit  \
0       886.94M                   +5.36%           −439.95M      446.99M
1         1.34B                 +298.84%           −502.55M      832.64M
2         2.24B                  +66.68%           −539.91M        1.70B
3         1.53B                  +78.31%           −295.31M        1.24B
4         1.51B                  +70.13%           −595.63M      913.30M
5         2.10B                  +57.59%           −648.36M        1.46B
6         2.88B                  +28.92%           −691.10M        2.19B

  YoY growth Gross profit Operating expenses (excl. COGS) Operating income  \
0                 −20.76%                        −781.95M         −334.96M
1                +379.70%                        −883.36M          −50.72M
2                 +52.24%                        −846.01M          851.51M
3                 +90.43%                          −1.16B           77.14M
4                +104.32%                        −918.12M           −4.81M
5                 +74.83%                        −998.18M          457.57M
6                 +29.21%                        −989.78M            1.20B

  YoY growth Operating income Non-operating income, total Pretax income  ...  \
0                      −2.91%                    −830.94M        −1.17B  ...
1                     +89.19%                      −6.27M       −56.98M  ...
2                     +92.88%                      −1.05M       850.46M  ...
3                    +102.53%                      −4.92M        72.22M  ...
4                     +98.56%                      −3.27M        −8.09M  ...
5                   +1002.21%                     −74.45M       383.11M  ...
6                     +41.34%                      66.37M         1.27B  ...

  Diluted EPS Diluted EPS YoY growth Average basic shares outstanding  \
0       −1.95               −239.12%                          600.96M
1       −0.11                +88.53%                          611.74M
2        1.22               +230.16%                          621.01M
3        0.08               +101.23%                          629.48M
4       −0.03                +98.48%                          635.31M
5        0.55               +597.04%                          638.41M
6        1.79                +46.01%                          638.70M

  Diluted shares outstanding    EBITDA YoY growth EBITDA      EBIT  \
0                    600.96M  −296.71M            −1.75%  −334.96M
1                    611.74M   −15.18M           +96.54%   −50.72M
2                    681.92M   885.20M           +87.90%   851.51M
3                    680.90M   107.98M          +103.58%    77.14M
4                    635.31M    24.42M          +108.23%    −4.81M
5                    683.54M   483.57M         +3285.58%   457.57M
6                    680.06M     1.22B           +37.41%     1.20B

  YoY growth EBIT Total operating expenses Quarterly
0          −2.91%                    1.22B    Q1 '21
1         +89.19%                    1.39B    Q2 '21
2         +92.88%                    1.39B    Q3 '21
3        +102.53%                    1.46B    Q4 '21
4         +98.56%                    1.51B    Q1 '22
5       +1002.21%                    1.65B    Q2 '22
6         +41.34%                    1.68B    Q3 '22

[7 rows x 34 columns]

In [3]:
from selenium import webdriver
from selenium.webdriver.common.by import By 
import sqlite3
from datetime import datetime

test = []
test2 = []
test3 = []
count = 0
revenue,YoYR = [],[]

# Create a SQL connection to our SQLite database
con = sqlite3.connect("stock.sqlite")
cur = con.cursor()

op = webdriver.ChromeOptions()
#op.add_argument('headless') 
driver = webdriver.Chrome(options=op) 
driver.get('https://www.tradingview.com/symbols/NASDAQ-ABNB/financials-income-statement/')
header = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]')

for element in header:
    test.append(element.text)
#     revenue = []

print(test)

["Currency: USD\nQ2 '21\nQ3 '21\nQ4 '21\nQ1 '22\nQ2 '22\nQ3 '22\nQ4 '22\nTTM\nTotal revenue\nYoY growth\n\u202a1.34B\u202c\n+298.84%\n\u202a2.24B\u202c\n+66.68%\n\u202a1.53B\u202c\n+78.31%\n\u202a1.51B\u202c\n+70.13%\n\u202a2.10B\u202c\n+57.59%\n\u202a2.88B\u202c\n+28.92%\n\u202a1.90B\u202c\n+24.14%\n\u202a8.40B\u202c\nCost of goods sold\n\u202a−502.55M\u202c\n\u202a−539.91M\u202c\n\u202a−295.31M\u202c\n\u202a−595.63M\u202c\n\u202a−648.36M\u202c\n\u202a−691.10M\u202c\n\u202a−345.00M\u202c\n\u202a−2.28B\u202c\nGross profit\nYoY growth\n\u202a832.64M\u202c\n+379.70%\n\u202a1.70B\u202c\n+52.24%\n\u202a1.24B\u202c\n+90.43%\n\u202a913.30M\u202c\n+104.32%\n\u202a1.46B\u202c\n+74.83%\n\u202a2.19B\u202c\n+29.21%\n\u202a1.56B\u202c\n+25.88%\n\u202a6.12B\u202c\nOperating expenses (excl. COGS)\n\u202a−883.36M\u202c\n\u202a−846.01M\u202c\n\u202a−1.16B\u202c\n\u202a−918.12M\u202c\n\u202a−998.18M\u202c\n\u202a−989.78M\u202c\n\u202a−1.32B\u202c\n\u202a−4.23B\u202c\nOperating income\nYoY growth\n\u202a−50.72M\u202c\n+89.19%\n\u202a851.51M\u202c\n+92.88%\n\u202a77.14M\u202c\n+102.53%\n\u202a−4.81M\u202c\n+98.56%\n\u202a457.57M\u202c\n+1002.21%\n\u202a1.20B\u202c\n+41.34%\n\u202a233.00M\u202c\n+202.06%\n\u202a1.89B\u202c\nNon-operating income, total\n\u202a−6.27M\u202c\n\u202a−1.05M\u202c\n\u202a−4.92M\u202c\n\u202a−3.27M\u202c\n\u202a−74.45M\u202c\n\u202a66.37M\u202c\n\u202a111.00M\u202c\n\u202a99.64M\u202c\nPretax income\nYoY growth\n\u202a−56.98M\u202c\n+91.09%\n\u202a850.46M\u202c\n+176.98%\n\u202a72.22M\u202c\n+101.81%\n\u202a−8.09M\u202c\n+99.31%\n\u202a383.11M\u202c\n+772.31%\n\u202a1.27B\u202c\n+49.32%\n\u202a344.00M\u202c\n+376.32%\n\u202a1.99B\u202c\nEquity in earnings\n\u202a0.00\u202c\n\u202a0.00\u202c\n\u202a0.00\u202c\n\u202a0.00\u202c\n\u202a0.00\u202c\n\u202a0.00\u202c\n\u202a0.00\u202c\n—\nTaxes\n\u202a−11.23M\u202c\n\u202a−16.57M\u202c\n\u202a−17.72M\u202c\n\u202a−10.71M\u202c\n\u202a−4.27M\u202c\n\u202a−55.61M\u202c\n\u202a−25.00M\u202c\n\u202a−95.59M\u202c\nNon-controlling/minority interest\n\u202a0.00\u202c\n\u202a0.00\u202c\n\u202a0.00\u202c\n\u202a0.00\u202c\n\u202a0.00\u202c\n\u202a0.00\u202c\n\u202a0.00\u202c\n—\nAfter tax other income/expense\n\u202a0.00\u202c\n\u202a0.00\u202c\n\u202a0.00\u202c\n\u202a0.00\u202c\n\u202a0.00\u202c\n\u202a0.00\u202c\n\u202a0.00\u202c\n—\nNet income before discontinued operations\n\u202a−68.22M\u202c\n\u202a833.89M\u202c\n\u202a54.50M\u202c\n\u202a−18.79M\u202c\n\u202a378.84M\u202c\n\u202a1.21B\u202c\n\u202a319.00M\u202c\n\u202a1.89B\u202c\nDiscontinued operations\n\u202a0.00\u202c\n\u202a0.00\u202c\n\u202a0.00\u202c\n\u202a0.00\u202c\n\u202a0.00\u202c\n\u202a0.00\u202c\n\u202a0.00\u202c\n—\nNet income\nYoY growth\n\u202a−68.22M\u202c\n+88.15%\n\u202a833.89M\u202c\n+280.20%\n\u202a54.50M\u202c\n+101.40%\n\u202a−18.79M\u202c\n+98.40%\n\u202a378.84M\u202c\n+655.35%\n\u202a1.21B\u202c\n+45.62%\n\u202a319.00M\u202c\n+485.31%\n\u202a1.89B\u202c\nDilution adjustment\n\u202a0.00\u202c\n\u202a0.00\u202c\n\u202a0.00\u202c\n\u202a0.00\u202c\n\u202a0.00\u202c\n\u202a0.00\u202c\n\u202a0.00\u202c\n—\nPreferred dividends\n\u202a0.00\u202c\n\u202a0.00\u202c\n\u202a0.00\u202c\n\u202a0.00\u202c\n\u202a0.00\u202c\n\u202a0.00\u202c\n\u202a0.00\u202c\n—\nDiluted net income available to common stockholders\n\u202a−68.22M\u202c\n\u202a833.89M\u202c\n\u202a54.50M\u202c\n\u202a−18.79M\u202c\n\u202a378.84M\u202c\n\u202a1.21B\u202c\n\u202a319.00M\u202c\n\u202a1.89B\u202c\nBasic earnings per share (Basic EPS)\nYoY growth\n\u202a−0.11\u202c\n+88.53%\n\u202a1.34\u202c\n+262.53%\n\u202a0.09\u202c\n+101.33%\n\u202a−0.03\u202c\n+98.48%\n\u202a0.59\u202c\n+632.20%\n\u202a1.90\u202c\n+41.58%\n\u202a0.50\u202c\n+481.06%\n\u202a2.97\u202c\nDiluted earnings per share (Diluted EPS)\nYoY growth\n\u202a−0.11\u202c\n+88.53%\n\u202a1.22\u202c\n+230.16%\n\u202a0.08\u202c\n+101.23%\n\u202a−0.03\u202c\n+98.48%\n\u202a0.55\u202c\n+597.04%\n\u202a1.79\u202c\n+46.01%\n\u202a0.47\u202c\n+493.38%\n\u202a2.78\u202c\nAverage basic shares outstanding\n\u202a611.74M\u202c\n\u202a621.01M\u202c\n\u202a629.48M\u202c\n\u202a635.31M\u202c\n\u202a638.41M\u202c\n\u202a638.70M\u202c\n\u202a634.00M\u202c\n—\nDiluted shares outstanding\n\u202a611.74M\u202c\n\u202a681.92M\u202c\n\u202a680.90M\u202c\n\u202a635.31M\u202c\n\u202a683.54M\u202c\n\u202a680.06M\u202c\n\u202a672.00M\u202c\n—\nEBITDA\nYoY growth\n\u202a−15.18M\u202c\n+96.54%\n\u202a885.20M\u202c\n+87.90%\n\u202a107.98M\u202c\n+103.58%\n\u202a24.42M\u202c\n+108.23%\n\u202a483.57M\u202c\n+3285.58%\n\u202a1.22B\u202c\n+37.41%\n\u202a246.00M\u202c\n+127.82%\n\u202a1.97B\u202c\nEBIT\nYoY growth\n\u202a−50.72M\u202c\n+89.19%\n\u202a851.51M\u202c\n+92.88%\n\u202a77.14M\u202c\n+102.53%\n\u202a−4.81M\u202c\n+98.56%\n\u202a457.57M\u202c\n+1002.21%\n\u202a1.20B\u202c\n+41.34%\n\u202a233.00M\u202c\n+202.06%\n\u202a1.89B\u202c\nTotal operating expenses\n\u202a1.39B\u202c\n\u202a1.39B\u202c\n\u202a1.46B\u202c\n\u202a1.51B\u202c\n\u202a1.65B\u202c\n\u202a1.68B\u202c\n\u202a1.67B\u202c\n\u202a6.51B\u202c"]

In [40]:
import sqlite3
import pandas as pd

query = "SELECT Ticker FROM stock_info WHERE `Index` = 'NASDAQ100'"
ticker = pd.read_sql(query, conn)
ticker = ticker['Ticker'].values.tolist()
ticker

['ABNB',
 'ADBE',
 'ADI',
 'ADSK',
 'AEP',
 'ALGN',
 'AMAT',
 'AMGN',
 'ANSS',
 'ATVI',
 'AVGO',
 'AZN',
 'BIIB',
 'BKNG',
 'BKR',
 'CEG',
 'CHTR',
 'COST',
 'CPRT',
 'CRWD',
 'CSCO',
 'CSGP',
 'CSX',
 'CTAS',
 'CTSH',
 'DLTR',
 'DXCM',
 'EA',
 'EBAY',
 'ENPH',
 'EXC',
 'FANG',
 'FAST',
 'FISV',
 'FTNT',
 'GOOG',
 'GOOGL',
 'HON',
 'IDXX',
 'ILMN',
 'ISRG',
 'JD',
 'KHC',
 'KLAC',
 'LCID',
 'LRCX',
 'LULU',
 'MAR',
 'MCHP',
 'MDLZ',
 'MELI',
 'MNST',
 'MSFT',
 'MU',
 'ODFL',
 'ORLY',
 'PANW',
 'PAYX',
 'PCAR',
 'PDD',
 'PEP',
 'QCOM',
 'REGN',
 'RIVN',
 'ROST',
 'SBUX',
 'SGEN',
 'SIRI',
 'SNPS',
 'TMUS',
 'VRSK',
 'VRTX',
 'WDAY',
 'XEL',
 'ZM',
 'ZS']

In [53]:
from selenium import webdriver
from selenium.webdriver.common.by import By 
import sqlite3
from datetime import datetime
import time

test = []
test2 = []
test3 = []
count = 0
revenue,YoYR = [],[]

# Create a SQL connection to our SQLite database
con = sqlite3.connect("stock.sqlite")
cur = con.cursor()

op = webdriver.ChromeOptions()
#op.add_argument('headless') 
driver = webdriver.Chrome(options=op)
df2 = pd.DataFrame()
for t in ticker:
    driver.get('https://www.tradingview.com/symbols/NASDAQ-%s/financials-income-statement/'% t)
    header = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[1]')
    raw1 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[2]')
    raw2 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[3]')
    raw3 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[4]')
    raw4 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[5]')
    raw5 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[6]')
    raw6 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[7]')
    raw7 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[8]')
    raw8 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[9]')
    raw9 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[10]')
    raw10 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[11]')
    raw11 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[12]')
    raw12 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[13]')
    raw13 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[14]')
    raw14 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[15]')
    raw15 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[16]')
    raw16 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[17]')
    raw17 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[18]')
    raw18 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[19]')
    raw19 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[20]')
    raw20 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[21]')
    raw21 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[22]')
    raw22 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[23]')
    raw23 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[24]')
    raw24 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[25]')
    time.sleep(4)
    Allelement = [raw1,raw2,raw3,raw4,raw5,raw6,raw7,raw8,raw9,raw10,
                raw11,raw12,raw13,raw14,raw15,raw16,raw17,raw18,raw19,raw20,
                raw21,raw22,raw23,raw24]

    YoY = [''] * len(Allelement)
    Oth = [''] * len(Allelement)
    for element in header:
        test.append(element.text)
    year = test[0].split('\n')[1:-1]
    for e in Allelement:
        test2 = []
        for h in e:
            test2.append(h.text)
        test2 = test2[0].split('\n')
        if (e == raw1) or (e == raw3) or (e == raw5) or (e == raw7) or (e == raw14) or (e == raw18) or (e == raw19) or (e == raw22) or (e == raw23):
            for k in range(len(test2)-3):
                if k%2 == 0:
                    a = test2[k+2]
                    revenue.append(a[1:-1])
                else:
                    YoYR.append(test2[k+2])
        else:
            for k in range(len(test2)-2):
                a = test2[k+1]
                revenue.append(a[1:-1])
                YoYR.append(None)

        YoY[count] = (YoYR)
        Oth[count] = (revenue)
        count += 1
        YoYR = []
        revenue = []

    a = range(len(Oth))
    for i in range(len(year)):
        try:
            data = {'Ticker':t,'Total revenue':Oth[0][i],'YoY growth Total revenue':YoY[0][i],
                'Cost of goods sold':Oth[1][i],
                'Gross profit':Oth[2][i],'YoY growth Gross profit':YoY[2][i],
                'Operating expenses (excl. COGS)':Oth[3][i],
                'Operating income':Oth[4][i],'YoY growth Operating income' : YoY[4][i],
                'Non-operating income, total':Oth[5][i],
                'Pretax income':Oth[6][i],'YoY growth Pretax income':YoY[6][i],
                'Equity in earnings':Oth[7][i],'Taxes':Oth[8][i],
                'Non-controlling/minority interest':Oth[9][i],'After tax other income/expense':Oth[10][i],
                'Net income before discontinued operations':Oth[11][i],'Discontinued operations':Oth[12][i],
                'Net income':Oth[13][i],'YoY growth Net income':YoY[13][i],
                'Dilution adjustment':Oth[14][i],'Preferred dividends':Oth[15][i],'Diluted net income available to common stockholders':Oth[16][i],
                'Basic EPS':Oth[17][i],'YoY growth Basic EPS':YoY[17][i],'Diluted EPS':Oth[18][i],'Diluted EPS YoY growth':YoY[18][i],
                'Average basic shares outstanding':Oth[19][i],'Diluted shares outstanding':Oth[20][i],
                'EBITDA':Oth[21][i],'YoY growth EBITDA':YoY[21][i],'EBIT':Oth[22][i],'YoY growth EBIT': YoY[22][i],
                'Total operating expenses':Oth[23][i],'Quarterly':year[i]}
            df = pd.DataFrame(data,index=[i])
            df2 = pd.concat([df2,df],ignore_index=True)
        except:
            print(i)
            print('error here')
    count = 0
    year = []
    print(t)

ABNB
ADBE
ADI
ADSK
AEP
ALGN
AMAT
AMGN
ANSS
ATVI
AVGO
AZN
BIIB
BKNG
BKR
CEG
CHTR
COST
CPRT
CRWD
CSCO
CSGP
CSX
CTAS
CTSH
DLTR
DXCM
EA
EBAY
ENPH
EXC
FANG
FAST
FISV
FTNT
GOOG
GOOGL
HON
IDXX
ILMN
ISRG
JD
KHC
KLAC
LCID
LRCX
LULU
MAR
MCHP
MDLZ
MELI
MNST
MSFT
MU
ODFL
ORLY
PANW
PAYX
PCAR
PDD
PEP
QCOM
REGN
RIVN
ROST
SBUX
SGEN
SIRI
SNPS
TMUS
VRSK
VRTX
WDAY
XEL
ZM
ZS

In [54]:
print(df2)

    Ticker Total revenue YoY growth Total revenue Cost of goods sold  \
0     ABNB       886.94M                   +5.36%           −439.95M
1     ABNB         1.34B                 +298.84%           −502.55M
2     ABNB         2.24B                  +66.68%           −539.91M
3     ABNB         1.53B                  +78.31%           −295.31M
4     ABNB         1.51B                  +70.13%           −595.63M
..     ...           ...                      ...                ...
527     ZS       230.52M                  +61.68%            −52.34M
528     ZS       255.56M                  +62.73%            −58.01M
529     ZS       286.81M                  +62.59%            −64.28M
530     ZS       318.06M                  +61.39%            −68.68M
531     ZS       355.55M                  +54.24%            −77.31M

    Gross profit YoY growth Gross profit Operating expenses (excl. COGS)  \
0        446.99M                 −20.76%                        −781.95M
1        832.64M                +379.70%                        −883.36M
2          1.70B                 +52.24%                        −846.01M
3          1.24B                 +90.43%                          −1.16B
4        913.30M                +104.32%                        −918.12M
..           ...                     ...                             ...
527      178.18M                 +60.84%                        −252.55M
528      197.55M                 +60.82%                        −281.48M
529      222.53M                 +62.01%                        −309.12M
530      249.38M                 +64.62%                        −331.90M
531      278.24M                 +56.16%                        −347.32M

    Operating income YoY growth Operating income Non-operating income, total  \
0           −334.96M                      −2.91%                    −830.94M
1            −50.72M                     +89.19%                      −6.27M
2            851.51M                     +92.88%                      −1.05M
3             77.14M                    +102.53%                      −4.92M
4             −4.81M                     +98.56%                      −3.27M
..               ...                         ...                         ...
527          −74.37M                     −76.02%                     −13.95M
528          −83.93M                     −55.72%                     −14.33M
529          −86.60M                     −97.48%                     −15.30M
530          −82.53M                     −22.45%                     −12.63M
531          −69.09M                      +7.10%                       5.67M

     ... Diluted EPS Diluted EPS YoY growth Average basic shares outstanding  \
0    ...       −1.95               −239.12%                          600.96M
1    ...       −0.11                +88.53%                          611.74M
2    ...        1.22               +230.16%                          621.01M
3    ...        0.08               +101.23%                          629.48M
4    ...       −0.03                +98.48%                          635.31M
..   ...         ...                    ...                              ...
527  ...       −0.65                −58.15%                          139.30M
528  ...       −0.71                −42.88%                          140.51M
529  ...       −0.72                −67.29%                          141.42M
530  ...       −0.69                −16.65%                          142.35M
531  ...       −0.48                +27.12%                          143.48M

    Diluted shares outstanding    EBITDA YoY growth EBITDA      EBIT  \
0                      600.96M  −296.71M            −1.75%  −334.96M
1                      611.74M   −15.18M           +96.54%   −50.72M
2                      681.92M   885.20M           +87.90%   851.51M
3                      680.90M   107.98M          +103.58%    77.14M
4                      635.31M    24.42M          +108.23%    −4.81M
..                         ...       ...               ...       ...
527                    139.30M   −57.10M          −166.92%   −74.37M
528                    140.51M   −65.33M          −113.29%   −83.93M
529                    141.42M   −49.59M          −174.16%   −86.60M
530                    142.35M   −42.82M            −9.10%   −82.53M
531                    143.48M   −25.23M           +55.82%   −69.09M

    YoY growth EBIT Total operating expenses Quarterly
0            −2.91%                    1.22B    Q1 '21
1           +89.19%                    1.39B    Q2 '21
2           +92.88%                    1.39B    Q3 '21
3          +102.53%                    1.46B    Q4 '21
4           +98.56%                    1.51B    Q1 '22
..              ...                      ...       ...
527         −76.02%                  304.89M    Q3 '21
528         −55.72%                  339.50M    Q4 '21
529         −97.48%                  373.40M    Q1 '22
530         −22.45%                  400.59M    Q2 '22
531          +7.10%                  424.63M    Q3 '22

[532 rows x 35 columns]

In [55]:
con = sqlite3.connect("stock.sqlite")
df2.to_sql('stock_quarter',con=con)

532

In [52]:
con = sqlite3.connect("stock.sqlite")
cur = con.cursor()
sql = "DROP TABLE stock_quarter"
cur.execute(sql)

ของไทย

In [56]:
import sqlite3
import pandas as pd

query = "SELECT Ticker FROM stock_info WHERE `Index` = 'SET100'"
ticker = pd.read_sql(query, conn)
ticker = ticker['Ticker'].values.tolist()
for i in range(len(ticker)):
    ticker[i] = ticker[i].replace(".BK","")
ticker

['AAV',
 'ACE',
 'ADVANC',
 'AMATA',
 'AOT',
 'AP',
 'AWC',
 'BAM',
 'BANPU',
 'BBL',
 'BCH',
 'BCP',
 'BCPG',
 'BDMS',
 'BEC',
 'BEM',
 'BGRIM',
 'BH',
 'BLA',
 'BTS',
 'BYD',
 'CBG',
 'CENTEL',
 'CHG',
 'CK',
 'CKP',
 'COM7',
 'CPALL',
 'CPF',
 'CPN',
 'CRC',
 'DELTA',
 'DOHOME',
 'DTAC',
 'EA',
 'EGCO',
 'EPG',
 'ESSO',
 'FORTH',
 'GLOBAL',
 'GPSC',
 'GULF',
 'GUNKUL',
 'HANA',
 'HMPRO',
 'INTUCH',
 'IRPC',
 'IVL',
 'JAS',
 'JMART',
 'JMT',
 'KBANK',
 'KCE',
 'KEX',
 'KKP',
 'KTB',
 'KTC',
 'LH',
 'MEGA',
 'MINT',
 'MTC',
 'NEX',
 'ONEE',
 'OR',
 'ORI',
 'OSP',
 'PLANB',
 'PSL',
 'PTG',
 'PTT',
 'PTTEP',
 'PTTGC',
 'QH',
 'RATCH',
 'RBF',
 'RCL',
 'SABUY',
 'SAWAD',
 'SCB',
 'SCC',
 'SCGP',
 'SINGER',
 'SPALI',
 'SPRC',
 'STA',
 'STARK',
 'STGT',
 'TCAP',
 'THANI',
 'THG',
 'TIDLOR',
 'TIPH',
 'TISCO',
 'TOP',
 'TQM',
 'TRUE',
 'TTB',
 'TU',
 'VGI',
 'WHA']

In [57]:
from selenium import webdriver
from selenium.webdriver.common.by import By 
import sqlite3
from datetime import datetime
import time

test = []
test2 = []
test3 = []
count = 0
revenue,YoYR = [],[]

# Create a SQL connection to our SQLite database
con = sqlite3.connect("stock.sqlite")
cur = con.cursor()

op = webdriver.ChromeOptions()
#op.add_argument('headless') 
driver = webdriver.Chrome(options=op)
thf2 = pd.DataFrame()
for t in ticker:
    driver.get('https://www.tradingview.com/symbols/SET-%s/financials-income-statement/'% t)
    header = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[1]')
    raw1 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[2]')
    raw2 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[3]')
    raw3 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[4]')
    raw4 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[5]')
    raw5 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[6]')
    raw6 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[7]')
    raw7 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[8]')
    raw8 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[9]')
    raw9 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[10]')
    raw10 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[11]')
    raw11 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[12]')
    raw12 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[13]')
    raw13 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[14]')
    raw14 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[15]')
    raw15 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[16]')
    raw16 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[17]')
    raw17 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[18]')
    raw18 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[19]')
    raw19 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[20]')
    raw20 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[21]')
    raw21 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[22]')
    raw22 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[23]')
    raw23 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[24]')
    raw24 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[25]')
    time.sleep(4)
    Allelement = [raw1,raw2,raw3,raw4,raw5,raw6,raw7,raw8,raw9,raw10,
                raw11,raw12,raw13,raw14,raw15,raw16,raw17,raw18,raw19,raw20,
                raw21,raw22,raw23,raw24]

    YoY = [''] * len(Allelement)
    Oth = [''] * len(Allelement)
    for element in header:
        test.append(element.text)
    year = test[0].split('\n')[1:-1]
    for e in Allelement:
        test2 = []
        for h in e:
            test2.append(h.text)
        test2 = test2[0].split('\n')
        if (e == raw1) or (e == raw3) or (e == raw5) or (e == raw7) or (e == raw14) or (e == raw18) or (e == raw19) or (e == raw22) or (e == raw23):
            for k in range(len(test2)-3):
                if k%2 == 0:
                    a = test2[k+2]
                    revenue.append(a[1:-1])
                else:
                    YoYR.append(test2[k+2])
        else:
            for k in range(len(test2)-2):
                a = test2[k+1]
                revenue.append(a[1:-1])
                YoYR.append(None)

        YoY[count] = (YoYR)
        Oth[count] = (revenue)
        count += 1
        YoYR = []
        revenue = []

    a = range(len(Oth))
    for i in range(len(year)):
        try:
            data = {'Ticker':(t+'.BK'),'Total revenue':Oth[0][i],'YoY growth Total revenue':YoY[0][i],
                'Cost of goods sold':Oth[1][i],
                'Gross profit':Oth[2][i],'YoY growth Gross profit':YoY[2][i],
                'Operating expenses (excl. COGS)':Oth[3][i],
                'Operating income':Oth[4][i],'YoY growth Operating income' : YoY[4][i],
                'Non-operating income, total':Oth[5][i],
                'Pretax income':Oth[6][i],'YoY growth Pretax income':YoY[6][i],
                'Equity in earnings':Oth[7][i],'Taxes':Oth[8][i],
                'Non-controlling/minority interest':Oth[9][i],'After tax other income/expense':Oth[10][i],
                'Net income before discontinued operations':Oth[11][i],'Discontinued operations':Oth[12][i],
                'Net income':Oth[13][i],'YoY growth Net income':YoY[13][i],
                'Dilution adjustment':Oth[14][i],'Preferred dividends':Oth[15][i],'Diluted net income available to common stockholders':Oth[16][i],
                'Basic EPS':Oth[17][i],'YoY growth Basic EPS':YoY[17][i],'Diluted EPS':Oth[18][i],'Diluted EPS YoY growth':YoY[18][i],
                'Average basic shares outstanding':Oth[19][i],'Diluted shares outstanding':Oth[20][i],
                'EBITDA':Oth[21][i],'YoY growth EBITDA':YoY[21][i],'EBIT':Oth[22][i],'YoY growth EBIT': YoY[22][i],
                'Total operating expenses':Oth[23][i],'Quarterly':year[i]}
            thf = pd.DataFrame(data,index=[i])
            thf2 = pd.concat([thf2,thf],ignore_index=True)
        except:
            print(i)
            print('error here')
    count = 0
    year = []
    print(t+'.BK')

AAV.BK
ACE.BK
ADVANC.BK
AMATA.BK
AOT.BK
AP.BK
AWC.BK
BAM.BK
BANPU.BK
BBL.BK
BCH.BK
BCP.BK
BCPG.BK
BDMS.BK
BEC.BK
BEM.BK
BGRIM.BK
BH.BK
BLA.BK
BTS.BK
BYD.BK
CBG.BK
CENTEL.BK
CHG.BK
CK.BK
CKP.BK
COM7.BK
CPALL.BK
CPF.BK
CPN.BK
CRC.BK
DELTA.BK
DOHOME.BK
DTAC.BK
EA.BK
EGCO.BK
EPG.BK
ESSO.BK
FORTH.BK
GLOBAL.BK
GPSC.BK
GULF.BK
GUNKUL.BK
HANA.BK
HMPRO.BK
INTUCH.BK
IRPC.BK
IVL.BK
JAS.BK
JMART.BK
JMT.BK
KBANK.BK
KCE.BK
KEX.BK
KKP.BK
KTB.BK
KTC.BK
LH.BK
MEGA.BK
MINT.BK
MTC.BK
NEX.BK
ONEE.BK
OR.BK
ORI.BK
OSP.BK
PLANB.BK
PSL.BK
PTG.BK
PTT.BK
PTTEP.BK
PTTGC.BK
QH.BK
RATCH.BK
RBF.BK
RCL.BK
SABUY.BK
SAWAD.BK
SCB.BK
SCC.BK
SCGP.BK
SINGER.BK
SPALI.BK
SPRC.BK
STA.BK
STARK.BK
STGT.BK
TCAP.BK
THANI.BK
THG.BK
TIDLOR.BK
TIPH.BK
TISCO.BK
TOP.BK
TQM.BK
TRUE.BK
TTB.BK
TU.BK
VGI.BK
WHA.BK

In [59]:
print(thf2)

     Ticker Total revenue YoY growth Total revenue Cost of goods sold  \
0    AAV.BK         1.15B                  −85.32%             −2.82B
1    AAV.BK       983.20M                 +268.86%             −2.79B
2    AAV.BK       169.85M                  −92.00%             −1.82B
3    AAV.BK         1.53B                  −55.46%             −3.80B
4    AAV.BK         1.79B                  +55.82%             −4.34B
..      ...           ...                      ...                ...
695  WHA.BK         1.11B                  +17.23%           −574.58M
696  WHA.BK         6.77B                  +85.75%             −3.70B
697  WHA.BK         1.58B                  +50.78%           −799.83M
698  WHA.BK         1.80B                  +20.60%             −1.04B
699  WHA.BK         1.98B                  +78.20%             −1.11B

    Gross profit YoY growth Gross profit Operating expenses (excl. COGS)  \
0         −1.67B                −601.52%                        −334.75M
1         −1.81B                 +44.48%                        −369.80M
2         −1.65B                 +26.68%                        −287.47M
3         −2.27B                −104.44%                        −444.63M
4         −2.55B                 −52.68%                        −380.22M
..           ...                     ...                             ...
695      534.41M                 +16.26%                        −317.77M
696        3.07B                +101.21%                        −605.12M
697      775.21M                 +61.19%                        −349.30M
698      760.42M                 +12.90%                        −370.82M
699      870.17M                 +62.83%                        −395.35M

    Operating income YoY growth Operating income Non-operating income, total  \
0             −2.00B                    −133.51%                      −1.60B
1             −2.18B                     +39.30%                      −1.05B
2             −1.94B                     +24.25%                      −2.25B
3             −2.71B                     −59.51%                      35.31M
4             −2.93B                     −46.15%                    −347.51M
..               ...                         ...                         ...
695          216.64M                     +11.86%                      47.99M
696            2.46B                    +123.55%                     −31.64M
697          425.92M                    +161.84%                     309.07M
698          389.60M                     +25.36%                      99.46M
699          474.82M                    +119.17%                     176.04M

     ... Diluted EPS Diluted EPS YoY growth Average basic shares outstanding  \
0    ...       −0.37               −177.81%                            5.10B
1    ...       −0.33                −48.21%                            5.10B
2    ...       −0.41                −14.25%                            5.10B
3    ...       −0.13                +39.31%                            7.49B
4    ...       −0.21                +42.37%                           11.25B
..   ...         ...                    ...                              ...
695  ...        0.01                −62.72%                           14.95B
696  ...        0.14                +39.88%                           14.95B
697  ...        0.04               +387.78%                           14.95B
698  ...        0.02                +11.49%                           14.95B
699  ...        0.02                +61.68%                           14.95B

    Diluted shares outstanding    EBITDA YoY growth EBITDA     EBIT  \
0                        5.10B  −860.16M          −183.62%   −2.00B
1                        5.10B  −948.78M           +54.24%   −2.18B
2                        5.10B  −817.38M           +24.11%   −1.94B
3                        7.49B  −831.59M          −271.28%   −2.71B
4                       11.25B    −1.35B           −57.38%   −2.93B
..                         ...       ...               ...      ...
695                     14.95B   373.82M            +8.66%  216.64M
696                     14.95B     2.62B          +108.20%    2.46B
697                     14.95B   577.73M           +85.59%  425.92M
698                     14.95B   536.97M           +14.67%  389.60M
699                     14.95B   626.89M           +67.70%  474.82M

    YoY growth EBIT Total operating expenses Quarterly
0          −133.51%                    3.15B    Q1 '21
1           +39.30%                    3.16B    Q2 '21
2           +24.25%                    2.11B    Q3 '21
3           −59.51%                    4.24B    Q4 '21
4           −46.15%                    4.72B    Q1 '22
..              ...                      ...       ...
695         +11.86%                  892.35M    Q3 '21
696        +123.55%                    4.31B    Q4 '21
697        +161.84%                    1.15B    Q1 '22
698         +25.36%                    1.41B    Q2 '22
699        +119.17%                    1.50B    Q3 '22

[700 rows x 35 columns]

In [60]:
con = sqlite3.connect("stock.sqlite")
thf2.to_sql('stock_quarter',con=con,if_exists='append',index=True)

700

In [ ]:
con = sqlite3.connect("stock.sqlite")
df2.to_sql('stock_quarter',con=con,if_exists='append',index=True)

In [11]:
from selenium import webdriver
from selenium.webdriver.common.by import By 
import sqlite3
from datetime import datetime
import pandas as pd

all_link = []
op = webdriver.ChromeOptions()
op.add_argument('headless') 
driver = webdriver.Chrome(options=op)
df2 = pd.DataFrame()
InsSec = []
driver.get("https://finance.yahoo.com/quote/AAPL/profile?p=AAPL")
numlink = driver.find_elements(By.XPATH, '//span[@class="Fw(600)"]')
for i in numlink[:2]:
    InsSec.append(i.text)
print(InsSec)
df1 = pd.DataFrame({'Ticker': [j], 'Industry Group': [InsSec[0]], 'Sector': [InsSec[1]], 'Index': ['NASDAQ100']})
df2 = pd.concat([df2,df1],ignore_index=True)
print(df2)

['Technology', 'Consumer Electronics']
  Ticker Industry Group                Sector      Index
0   AAPL     Technology  Consumer Electronics  NASDAQ100

In [13]:
con = sqlite3.connect("stock.sqlite")
df2.to_sql('stock_info',con=con,if_exists='append',index=True)

1

In [10]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("stock.sqlite")
query = "select * from stock_table_d where `ticker` == 'AAPL' and datetime > '2012-01-01' and datetime < '2023-01-01'"
df = pd.read_sql(query,conn)
df['Date'] = pd.to_datetime(df['Datetime'])
df.set_index(df['Date'],inplace = True)

data = df.filter(['Close'])
data.rename(columns={'Close':'AAPL'}, inplace=True)

data

                  AAPL
Date
2013-02-13   16.678928
2013-02-14   16.663929
2013-02-15   16.434286
2013-02-19   16.428213
2013-02-20   16.030357
...                ...
2022-12-23  131.860001
2022-12-27  130.029999
2022-12-28  126.040001
2022-12-29  129.610001
2022-12-30  129.929993

[2489 rows x 1 columns]