In [2]:
from selenium import webdriver
from selenium.webdriver.common.by import By 
import sqlite3
from datetime import datetime

nasdaq = []

# Create a SQL connection to our SQLite database
con = sqlite3.connect("stock.sqlite")
cur = con.cursor()

op = webdriver.ChromeOptions()
#op.add_argument('headless') 
driver = webdriver.Chrome(options=op) 
driver.get('https://www.nasdaq.com/market-activity/quotes/nasdaq-ndx-index')
elements = driver.find_elements(By.XPATH, '//th[@class="nasdaq-ndx-index__cell nasdaq-ndx-index__cell--heading"]')

for element in elements:
    nasdaq.append(element.text)
print(nasdaq)

['AAPL', 'ABNB', 'ADBE', 'ADI', 'ADP', 'ADSK', 'AEP', 'ALGN', 'AMAT', 'ASML', 'ATVI', 'AVGO', 'BIIB', 'BKR', 'CDNS', 'CEG', 'CHTR', 'CMCSA', 'COST', 'CPRT', 'CRWD', 'CSCO', 'CSGP', 'CSX', 'CTAS', 'CTSH', 'DDOG', 'DLTR', 'DXCM', 'EA', 'ENPH', 'EXC', 'FANG', 'FAST', 'FISV', 'FTNT', 'GILD', 'HON', 'IDXX', 'ILMN', 'INTU', 'ISRG', 'JD', 'KDP', 'KHC', 'KLAC', 'LRCX', 'LULU', 'MAR', 'MCHP', 'MELI', 'NXPI', 'ODFL', 'ORLY', 'PANW', 'PAYX', 'PCAR', 'PDD', 'PYPL', 'QCOM', 'REGN', 'RIVN', 'ROST', 'SGEN', 'SNPS', 'TEAM', 'TSLA', 'TXN', 'VRSK', 'VRTX', 'WBA', 'WDAY', 'XEL', 'ZM', 'ZS']

In [52]:
import yfinance as yf
import pandas as pd
import sqlite3

conn = sqlite3.connect("stock.sqlite")
for stock in nasdaq:
    datahr = yf.download(tickers=stock,period="2y",interval="1h",progress=False)
    datad = yf.download(tickers=stock,period='10y',interval="1d",progress=False)
    datamo = yf.download(tickers=stock,period='max',interval="1mo",progress=False)

    datahr['Ticker'] = stock

    datad.index.names = ['Datetime']

    datad['Ticker'] = stock

    datamo.index.names = ['Datetime']

    datamo['Ticker'] = stock

    datahr.to_sql('stock_table_hr',con=conn,if_exists='append',index=True)
    datad.to_sql('stock_table_d',con=conn,if_exists='append',index=True)
    datamo.to_sql('stock_table_mo',con=conn,if_exists='append',index=True)

1 Failed download:
- ADI: Exception('Lost data during merge despite all attempts to align data (see above)')

1 Failed download:
- ADP: Exception('Lost data during merge despite all attempts to align data (see above)')

1 Failed download:
- AEP: Exception('Lost data during merge despite all attempts to align data (see above)')

1 Failed download:
- BKR: Exception('Lost data during merge despite all attempts to align data (see above)')

1 Failed download:
- CSX: Exception('Lost data during merge despite all attempts to align data (see above)')

1 Failed download:
- EXC: Exception('Lost data during merge despite all attempts to align data (see above)')

1 Failed download:
- HON: Exception('Lost data during merge despite all attempts to align data (see above)')

1 Failed download:
- KHC: Exception('Lost data during merge despite all attempts to align data (see above)')

1 Failed download:
- KLAC: Exception('Lost data during merge despite all attempts to align data (see above)')

1 Failed download:
- TXN: Exception('Lost data during merge despite all attempts to align data (see above)')

1 Failed download:
- XEL: Exception('Lost data during merge despite all attempts to align data (see above)')

In [47]:
datad = yf.download(tickers='AAPL',period="2y",interval="1d",progress=False)
datad.index.names = ['Datetime']
datad

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-02-16,135.490005,136.009995,132.789993,133.190002,131.605835,80576300
2021-02-17,131.250000,132.220001,129.470001,130.839996,129.283798,97918500
2021-02-18,129.199997,130.000000,127.410004,129.710007,128.167236,96856700
2021-02-19,130.240005,130.710007,128.800003,129.869995,128.325333,87668800
2021-02-22,128.009995,129.720001,125.599998,126.000000,124.501358,103916400
...,...,...,...,...,...,...
2023-02-07,150.639999,155.229996,150.639999,154.649994,154.414230,83322600
2023-02-08,153.880005,154.580002,151.169998,151.919998,151.688400,64120100
2023-02-09,153.779999,154.330002,150.419998,150.869995,150.639999,56007100
2023-02-10,149.460007,151.339996,149.220001,151.009995,151.009995,57409100
2023-02-13,150.951996,153.690002,150.919998,153.389999,153.389999,21700329

In [9]:
from selenium import webdriver
from selenium.webdriver.common.by import By 
import sqlite3
from datetime import datetime
import pandas as pd

all_link = []
op = webdriver.ChromeOptions()
op.add_argument('headless') 
driver = webdriver.Chrome(options=op)
df2 = pd.DataFrame()
print(len(nasdaq))
for j in nasdaq:
    InsSec = []
    driver.get("https://finance.yahoo.com/quote/%s/profile?p=%s" %(j,j))
    numlink = driver.find_elements(By.XPATH, '//span[@class="Fw(600)"]')
    for i in numlink[:2]:
        InsSec.append(i.text)
    df1 = pd.DataFrame({'Ticker': [j], 'Industry Group': [InsSec[0]], 'Sector': [InsSec[1]], 'Index': ['NASDAQ100']})
    df2 = pd.concat([df2,df1],ignore_index=True)
    print('-------')
print(df2)

75
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
   Ticker     Industry Group                          Sector      Index
0    AAPL         Technology            Consumer Electronics  NASDAQ100
1    ABNB  Consumer Cyclical                 Travel Services  NASDAQ100
2    ADBE         Technology         Software—Infrastructure  NASDAQ100
3     ADI         Technology                  Semiconductors  NASDAQ100
4     ADP        Industrials  Staffing & Employment Services  NASDAQ100
..    ...                ...                             ...        ...
70    WBA         Healthcare        Pharmaceutical Retailers  NASDAQ100
71   WDAY         Technology            Software—Application  NASDAQ100
72    XEL          Utilities    Utilities—Regulated Electric  NASDAQ100
73     ZM         Technology            Software—Application  NASDAQ100
74     ZS         Technology         Software—Infrastructure  NASDAQ100

[75 rows x 4 columns]

In [10]:
import sqlite3

conn = sqlite3.connect("stock.sqlite")
df2.to_sql('stock_info',con=conn,if_exists='append',index=True)

75