In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By 
import sqlite3
from datetime import datetime

nasdaq = []

# Create a SQL connection to our SQLite database
con = sqlite3.connect("stock.sqlite")
cur = con.cursor()

op = webdriver.ChromeOptions()
#op.add_argument('headless') 
driver = webdriver.Chrome(options=op) 
driver.get('https://www.nasdaq.com/market-activity/quotes/nasdaq-ndx-index')
elements = driver.find_elements(By.XPATH, '//th[@class="nasdaq-ndx-index__cell nasdaq-ndx-index__cell--heading"]')

for element in elements:
    nasdaq.append(element.text)
print(nasdaq)

['ABNB', 'ADBE', 'ADI', 'ADSK', 'AEP', 'ALGN', 'AMAT', 'AMGN', 'ANSS', 'ATVI', 'AVGO', 'AZN', 'BIIB', 'BKNG', 'BKR', 'CEG', 'CHTR', 'COST', 'CPRT', 'CRWD', 'CSCO', 'CSGP', 'CSX', 'CTAS', 'CTSH', 'DLTR', 'DXCM', 'EA', 'EBAY', 'ENPH', 'EXC', 'FANG', 'FAST', 'FISV', 'FTNT', 'GOOG', 'GOOGL', 'HON', 'IDXX', 'ILMN', 'ISRG', 'JD', 'KHC', 'KLAC', 'LCID', 'LRCX', 'LULU', 'MAR', 'MCHP', 'MDLZ', 'MELI', 'MNST', 'MSFT', 'MU', 'ODFL', 'ORLY', 'PANW', 'PAYX', 'PCAR', 'PDD', 'PEP', 'QCOM', 'REGN', 'RIVN', 'ROST', 'SBUX', 'SGEN', 'SIRI', 'SNPS', 'TMUS', 'VRSK', 'VRTX', 'WDAY', 'XEL', 'ZM', 'ZS']

In [52]:
import yfinance as yf
import pandas as pd
import sqlite3

conn = sqlite3.connect("stock.sqlite")
for stock in nasdaq:
    datahr = yf.download(tickers=stock,period="2y",interval="1h",progress=False)
    datad = yf.download(tickers=stock,period='10y',interval="1d",progress=False)
    datamo = yf.download(tickers=stock,period='max',interval="1mo",progress=False)

    datahr['Ticker'] = stock

    datad.index.names = ['Datetime']

    datad['Ticker'] = stock

    datamo.index.names = ['Datetime']

    datamo['Ticker'] = stock

    datahr.to_sql('stock_table_hr',con=conn,if_exists='append',index=True)
    datad.to_sql('stock_table_d',con=conn,if_exists='append',index=True)
    datamo.to_sql('stock_table_mo',con=conn,if_exists='append',index=True)

1 Failed download:
- ADI: Exception('Lost data during merge despite all attempts to align data (see above)')

1 Failed download:
- ADP: Exception('Lost data during merge despite all attempts to align data (see above)')

1 Failed download:
- AEP: Exception('Lost data during merge despite all attempts to align data (see above)')

1 Failed download:
- BKR: Exception('Lost data during merge despite all attempts to align data (see above)')

1 Failed download:
- CSX: Exception('Lost data during merge despite all attempts to align data (see above)')

1 Failed download:
- EXC: Exception('Lost data during merge despite all attempts to align data (see above)')

1 Failed download:
- HON: Exception('Lost data during merge despite all attempts to align data (see above)')

1 Failed download:
- KHC: Exception('Lost data during merge despite all attempts to align data (see above)')

1 Failed download:
- KLAC: Exception('Lost data during merge despite all attempts to align data (see above)')

1 Failed download:
- TXN: Exception('Lost data during merge despite all attempts to align data (see above)')

1 Failed download:
- XEL: Exception('Lost data during merge despite all attempts to align data (see above)')

In [47]:
datad = yf.download(tickers='AAPL',period="2y",interval="1d",progress=False)
datad.index.names = ['Datetime']
datad

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-02-16,135.490005,136.009995,132.789993,133.190002,131.605835,80576300
2021-02-17,131.250000,132.220001,129.470001,130.839996,129.283798,97918500
2021-02-18,129.199997,130.000000,127.410004,129.710007,128.167236,96856700
2021-02-19,130.240005,130.710007,128.800003,129.869995,128.325333,87668800
2021-02-22,128.009995,129.720001,125.599998,126.000000,124.501358,103916400
...,...,...,...,...,...,...
2023-02-07,150.639999,155.229996,150.639999,154.649994,154.414230,83322600
2023-02-08,153.880005,154.580002,151.169998,151.919998,151.688400,64120100
2023-02-09,153.779999,154.330002,150.419998,150.869995,150.639999,56007100
2023-02-10,149.460007,151.339996,149.220001,151.009995,151.009995,57409100
2023-02-13,150.951996,153.690002,150.919998,153.389999,153.389999,21700329

In [2]:
from selenium import webdriver
from selenium.webdriver.common.by import By 
import sqlite3
from datetime import datetime
import pandas as pd

all_link = []
op = webdriver.ChromeOptions()
op.add_argument('headless') 
driver = webdriver.Chrome(options=op)
df2 = pd.DataFrame()
print(len(nasdaq))
for j in nasdaq:
    InsSec = []
    driver.get("https://finance.yahoo.com/quote/%s/profile?p=%s" %(j,j))
    numlink = driver.find_elements(By.XPATH, '//span[@class="Fw(600)"]')
    for i in numlink[:2]:
        InsSec.append(i.text)
    df1 = pd.DataFrame({'Ticker': [j], 'Industry Group': [InsSec[0]], 'Sector': [InsSec[1]], 'Index': ['NASDAQ100']})
    df2 = pd.concat([df2,df1],ignore_index=True)
    print('-------')
print(df2)

76
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
   Ticker     Industry Group                        Sector      Index
0    ABNB  Consumer Cyclical               Travel Services  NASDAQ100
1    ADBE         Technology       Softwareâ€”Infrastructure  NASDAQ100
2     ADI         Technology                Semiconductors  NASDAQ100
3    ADSK         Technology          Softwareâ€”Application  NASDAQ100
4     AEP          Utilities  Utilitiesâ€”Regulated Electric  NASDAQ100
..    ...                ...                           ...        ...
71   VRTX         Healthcare                 Biotechnology  NASDAQ100
72   WDAY         Technology          Softwareâ€”Application  NASDAQ100
73    XEL          Utilities  Utilitiesâ€”Regulated Electric  NASDAQ100
74     ZM         Technology          Softwareâ€”Application  NASDAQ100
75     ZS         Technology       Softwareâ€”Infrastructure  NASDAQ100

[76 rows x 4 columns]

In [5]:
import sqlite3

conn = sqlite3.connect("stock.sqlite")
df2.to_sql('stock_info',con=conn,if_exists='append',index=True)

76

In [13]:
from selenium import webdriver
from selenium.webdriver.common.by import By 
import sqlite3
from datetime import datetime

cryp = []

# Create a SQL connection to our SQLite database
con = sqlite3.connect("stock.sqlite")
cur = con.cursor()

op = webdriver.ChromeOptions()
#op.add_argument('headless') 
driver = webdriver.Chrome(options=op) 
driver.get('https://finance.yahoo.com/crypto/?offset=0&count=100')
elements = driver.find_elements(By.XPATH, '//a[@class="Fw(600) C($linkColor)"]')

for element in elements:
    cryp.append(element.text)
print(len(cryp))

100

In [12]:
import yfinance as yf
import pandas as pd
import sqlite3

conn = sqlite3.connect("stock.sqlite")
for stock in cryp:
    # datahr = yf.download(tickers=stock,period="2y",interval="1h",progress=False)
    # datad = yf.download(tickers=stock,period='max',interval="1d",progress=False)
    datamo = yf.download(tickers=stock,period='max',interval="1mo",progress=False)

    # datahr['Ticker'] = stock

    # datad.index.names = ['Datetime']

    # datad['Ticker'] = stock

    datamo.index.names = ['Datetime']

    datamo['Ticker'] = stock

    # print(datad)
    # datahr.to_sql('stock_table_hr',con=conn,if_exists='append',index=True)
    # datad.to_sql('stock_table_d',con=conn,if_exists='append',index=True)
    datamo.to_sql('stock_table_mo',con=conn,if_exists='append',index=True)

In [14]:
from selenium import webdriver
from selenium.webdriver.common.by import By 
import sqlite3
from datetime import datetime

test = []
test2 = []
test3 = []
count = 0
revenue,YoYR = [],[]

# Create a SQL connection to our SQLite database
con = sqlite3.connect("stock.sqlite")
cur = con.cursor()

op = webdriver.ChromeOptions()
#op.add_argument('headless') 
driver = webdriver.Chrome(options=op) 
driver.get('https://www.tradingview.com/symbols/NASDAQ-ABNB/financials-income-statement/')
header = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[1]')
raw1 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[2]')
raw2 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[3]')
raw3 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[4]')
raw4 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[5]')
raw5 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[6]')
raw6 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[7]')
raw7 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[8]')
raw8 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[9]')
raw9 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[10]')
raw10 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[11]')
raw11 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[12]')
raw12 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[13]')
raw13 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[14]')
raw14 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[15]')
raw15 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[16]')
raw16 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[17]')
raw17 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[18]')
raw18 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[19]')
raw19 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[20]')
raw20 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[21]')
raw21 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[22]')
raw22 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[23]')
raw23 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[24]')
raw24 = driver.find_elements(By.XPATH, '//*[@id="js-category-content"]/div/div[2]/div[2]/div/div/div[5]/div[2]/div/div[1]/div[25]')

Allelement = [raw1,raw2,raw3,raw4,raw5,raw6,raw7,raw8,raw9,raw10,
              raw11,raw12,raw13,raw14,raw15,raw16,raw17,raw18,raw19,raw20,
              raw21,raw22,raw23,raw24]

YoY = [''] * len(Allelement)
Oth = [''] * len(Allelement)
for element in header:
    test.append(element.text)
year = test[0].split('\n')[1:-1]
for e in Allelement:
    test2 = []
    for h in e:
        test2.append(h.text)
    test2 = test2[0].split('\n')
    if (e == raw1) or (e == raw3) or (e == raw5) or (e == raw7) or (e == raw14) or (e == raw18) or (e == raw19) or (e == raw22) or (e == raw23):
        for k in range(len(test2)-3):
            if k%2 == 0:
                a = test2[k+2]
                revenue.append(a[1:-1])
            else:
                YoYR.append(test2[k+2])
    else:
        for k in range(len(test2)-2):
            a = test2[k+1]
            revenue.append(a[1:-1])
            YoYR.append(None)

    YoY[count] = (YoYR)
    Oth[count] = (revenue)
    count += 1
    YoYR = []
    revenue = []

print(year)
print(YoY)

["Q1 '21", "Q2 '21", "Q3 '21", "Q4 '21", "Q1 '22", "Q2 '22", "Q3 '22"]
[['+5.36%', '+298.84%', '+66.68%', '+78.31%', '+70.13%', '+57.59%', '+28.92%'], [None, None, None, None, None, None, None], ['âˆ’20.76%', '+379.70%', '+52.24%', '+90.43%', '+104.32%', '+74.83%', '+29.21%'], [None, None, None, None, None, None, None], ['âˆ’2.91%', '+89.19%', '+92.88%', '+102.53%', '+98.56%', '+1002.21%', '+41.34%'], [None, None, None, None, None, None, None], ['âˆ’226.50%', '+91.09%', '+176.98%', '+101.81%', '+99.31%', '+772.31%', '+49.32%'], [None, None, None, None, None, None, None], [None, None, None, None, None, None, None], [None, None, None, None, None, None, None], [None, None, None, None, None, None, None], [None, None, None, None, None, None, None], [None, None, None, None, None, None, None], ['âˆ’244.16%', '+88.15%', '+280.20%', '+101.40%', '+98.40%', '+655.35%', '+45.62%'], [None, None, None, None, None, None, None], [None, None, None, None, None, None, None], [None, None, None, None, None, None, None], ['âˆ’239.12%', '+88.53%', '+262.53%', '+101.33%', '+98.48%', '+632.20%', '+41.58%'], ['âˆ’239.12%', '+88.53%', '+230.16%', '+101.23%', '+98.48%', '+597.04%', '+46.01%'], [None, None, None, None, None, None, None], [None, None, None, None, None, None, None], ['âˆ’1.75%', '+96.54%', '+87.90%', '+103.58%', '+108.23%', '+3285.58%', '+37.41%'], ['âˆ’2.91%', '+89.19%', '+92.88%', '+102.53%', '+98.56%', '+1002.21%', '+41.34%'], [None, None, None, None, None, None, None]]

In [34]:
a = range(len(Oth))
df2 = pd.DataFrame()
for i in range(len(year)):
    data = {'Total revenue':Oth[0][i],'YoY growth Total revenue':YoY[0][i],
        'Cost of goods sold':Oth[1][i],
        'Gross profit':Oth[2][i],'YoY growth Gross profit':YoY[2][i],
        'Operating expenses (excl. COGS)':Oth[3][i],
        'Operating income':Oth[4][i],'YoY growth Operating income' : YoY[4][i],
        'Non-operating income, total':Oth[5][i],
        'Pretax income':Oth[6][i],'YoY growth Pretax income':YoY[7][i],
        'Equity in earnings':Oth[7][i],'Taxes':Oth[8][i],
        'Non-controlling/minority interest':Oth[9][i],'After tax other income/expense':Oth[10][i],
        'Net income before discontinued operations':Oth[11][i],'Discontinued operations':Oth[12][i],
        'Net income':Oth[13][i],'YoY growth Net income':YoY[13][i],
        'Dilution adjustment':Oth[14][i],'Preferred dividends':Oth[15][i],'Diluted net income available to common stockholders':Oth[16][i],
        'Basic EPS':Oth[17][i],'YoY growth Basic EPS':YoY[17][i],'Diluted EPS':Oth[18][i],'Diluted EPS YoY growth':YoY[18][i],
        'Average basic shares outstanding':Oth[19][i],'Diluted shares outstanding':Oth[20][i],
        'EBITDA':Oth[21][i],'YoY growth EBITDA':YoY[21][i],'EBIT':Oth[22][i],'YoY growth EBIT': YoY[22][i],
        'Total operating expenses':Oth[23][i],'Quarterly':year[i]}
    df = pd.DataFrame(data,index=[i])
    df2 = pd.concat([df2,df],ignore_index=True)
print(df2)

  Total revenue YoY growth Total revenue Cost of goods sold Gross profit  \
0       886.94M                   +5.36%           âˆ’439.95M      446.99M
1         1.34B                 +298.84%           âˆ’502.55M      832.64M
2         2.24B                  +66.68%           âˆ’539.91M        1.70B
3         1.53B                  +78.31%           âˆ’295.31M        1.24B
4         1.51B                  +70.13%           âˆ’595.63M      913.30M
5         2.10B                  +57.59%           âˆ’648.36M        1.46B
6         2.88B                  +28.92%           âˆ’691.10M        2.19B

  YoY growth Gross profit Operating expenses (excl. COGS) Operating income  \
0                 âˆ’20.76%                        âˆ’781.95M         âˆ’334.96M
1                +379.70%                        âˆ’883.36M          âˆ’50.72M
2                 +52.24%                        âˆ’846.01M          851.51M
3                 +90.43%                          âˆ’1.16B           77.14M
4                +104.32%                        âˆ’918.12M           âˆ’4.81M
5                 +74.83%                        âˆ’998.18M          457.57M
6                 +29.21%                        âˆ’989.78M            1.20B

  YoY growth Operating income Non-operating income, total Pretax income  ...  \
0                      âˆ’2.91%                    âˆ’830.94M        âˆ’1.17B  ...
1                     +89.19%                      âˆ’6.27M       âˆ’56.98M  ...
2                     +92.88%                      âˆ’1.05M       850.46M  ...
3                    +102.53%                      âˆ’4.92M        72.22M  ...
4                     +98.56%                      âˆ’3.27M        âˆ’8.09M  ...
5                   +1002.21%                     âˆ’74.45M       383.11M  ...
6                     +41.34%                      66.37M         1.27B  ...

  Diluted EPS Diluted EPS YoY growth Average basic shares outstanding  \
0       âˆ’1.95               âˆ’239.12%                          600.96M
1       âˆ’0.11                +88.53%                          611.74M
2        1.22               +230.16%                          621.01M
3        0.08               +101.23%                          629.48M
4       âˆ’0.03                +98.48%                          635.31M
5        0.55               +597.04%                          638.41M
6        1.79                +46.01%                          638.70M

  Diluted shares outstanding    EBITDA YoY growth EBITDA      EBIT  \
0                    600.96M  âˆ’296.71M            âˆ’1.75%  âˆ’334.96M
1                    611.74M   âˆ’15.18M           +96.54%   âˆ’50.72M
2                    681.92M   885.20M           +87.90%   851.51M
3                    680.90M   107.98M          +103.58%    77.14M
4                    635.31M    24.42M          +108.23%    âˆ’4.81M
5                    683.54M   483.57M         +3285.58%   457.57M
6                    680.06M     1.22B           +37.41%     1.20B

  YoY growth EBIT Total operating expenses Quarterly
0          âˆ’2.91%                    1.22B    Q1 '21
1         +89.19%                    1.39B    Q2 '21
2         +92.88%                    1.39B    Q3 '21
3        +102.53%                    1.46B    Q4 '21
4         +98.56%                    1.51B    Q1 '22
5       +1002.21%                    1.65B    Q2 '22
6         +41.34%                    1.68B    Q3 '22

[7 rows x 34 columns]

In [6]:
import pandas as pd
f = pd.DataFrame({'test':[1,2,3],'gag':[None,None,None]})
f

   test   gag
0     1  None
1     2  None
2     3  None